<div class="newpage" id="page1" style="width: 902px; height: 1274px; transform: scale(1.10865); transform-origin: left top; display: block;">
<div class="text_layer" style="z-index:2"><div class="ie_fix">
&nbsp;
<div class="ff4" style="font-size:98px">
<span class="a" style="left:1794px;top:298px;word-spacing:3px">LOAN AGREEMENT </span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:2069px;top:526px;word-spacing:-1px">I. Parties </span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:272px;top:739px">This </span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:461px;top:739px">Loan Agreement </span></div>
<div class="ff1" style="font-size:85px">
<span class="a" style="left:1169px;top:738px">(“Agreement”)</span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:1778px;top:739px;word-spacing:-3px">entered into by and <span class="w7"></span>between: </span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:545px;top:952px;word-spacing:29px">NAME OF BORROWER</span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:1514px;top:952px;word-spacing:28px">, of legal age, STATUS OF BORROWER, Filipino citizen and with </span><span class="a" style="left:272px;top:1059px;word-spacing:-3px">residence and postal address at <span class="w7"></span>ADDRESS OF BORROWER, </span></div>
<div class="ff3" style="font-size:77px">
<span class="a" style="left:2555px;top:1058px;word-spacing:-3px">hereafter called the “</span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:3365px;top:1059px">Borrower</span></div>
<div class="ff3" style="font-size:77px">
<span class="a" style="left:3774px;top:1058px">”,</span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:3827px;top:1059px">&nbsp;</span><span class="a" style="left:2182px;top:1272px;letter-spacing:-1px">and </span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:545px;top:1485px;word-spacing:7px">NAME OF LENDER</span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:1305px;top:1485px;word-spacing:6px">, of legal age, STATUS OF LENDER, Filipino citizen and with residence and </span><span class="g" style="top:1591px"><span class="a" style="left:272px;word-spacing:-2px">postal address at ADDRESS OF LENDER, hereafter called the </span></span>
</div>
<div class="ff3" style="font-size:77px">
<span class="g" style="top:1591px"><span class="a" style="left:2621px">“</span></span>
</div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:2655px;top:1591px">Lender</span></div>
<div class="ff3" style="font-size:77px">
<span class="a" style="left:2953px;top:1591px">”.</span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:3005px;top:1591px">&nbsp;</span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:1991px;top:1805px;word-spacing:-2px">II. Effectivity </span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:272px;top:2018px;word-spacing:-2px">This Agreement is effective </span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:1345px;top:2018px;word-spacing:-1px">EFFECTIVITY DATE.</span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:2170px;top:2018px">&nbsp;</span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:1883px;top:2232px;word-spacing:-1px">III. Period of Loan </span></div>
<div class="ff2" style="font-size:84px">
<span class="g" style="top:2444px"><span class="a" style="left:272px;word-spacing:-2px">This loan shall be <span class="w6"></span>payable for a period of&nbsp;</span></span>
</div>
<div class="ff4" style="font-size:84px">
<span class="g" style="top:2444px"><span class="a" style="left:1839px;word-spacing:-2px">&nbsp;____________</span></span>
</div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:2264px;top:2444px;word-spacing:-1px">, due on or before</span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:2945px;top:2444px;word-spacing:-3px">&nbsp;__________</span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:3302px;top:2444px">. </span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:1910px;top:2658px;word-spacing:-1px">IV. Loan Amount </span></div>
<div class="ff2" style="font-size:84px">
<span class="g" style="top:2871px"><span class="a" style="left:272px">The </span></span>
</div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:440px;top:2871px">Borrower</span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:850px;top:2871px;word-spacing:-1px">&nbsp;promises to pay the Lender </span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:1932px;top:2871px">&nbsp;AMOUNT OF LOAN </span><span class="a" style="left:2039px;top:3084px">V. Interest </span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:272px;top:3297px">The </span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:448px;top:3297px">Borrower </span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:884px;top:3297px;word-spacing:6px">agrees to pay an interest with a fixed amount of AMOUNT OF INTEREST the interest </span><span class="a" style="left:272px;top:3404px;word-spacing:-2px">payment shall be payable on or before _____________ together with the Pri<span class="w6"></span>ncipal amount.</span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:3614px;top:3404px">&nbsp;</span><span class="a" style="left:1655px;top:3724px">VII. Method of Loan Payment </span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:272px;top:3937px">The </span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:457px;top:3937px">Borrower </span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:902px;top:3937px;word-spacing:14px">shall make all payments called for under this loan agreement by CASH personally </span><span class="a" style="left:272px;top:4044px;word-spacing:-2px">served to the </span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:798px;top:4044px">Lender</span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:1095px;top:4044px">. </span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:1751px;top:4364px;word-spacing:-1px">VIII. Non-waiver of right </span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:272px;top:4576px;word-spacing:11px">The failure of either Party to enforce any provision of this</span></div>
<div class="ff4" style="font-size:84px">
<span class="a" style="left:2623px;top:4576px;word-spacing:13px">&nbsp;Agreement&nbsp;</span></div>
<div class="ff2" style="font-size:84px">
<span class="a" style="left:3117px;top:4576px;word-spacing:11px">&nbsp;shall not be construed as a </span><span class="a" style="left:272px;top:4683px;word-spacing:8px">waiver or limitation of any parties right to subsequently enforce and compel strict compliance with </span><span class="a" style="left:272px;top:4789px;word-spacing:-2px">every provision of this <span class="w6"></span>Agreement. </span></div>
</div>
</div>
<div class="image_layer" style="z-index: 1">
<div class="ie_fix">
<img class="absimg" style="left: 562px; top: 671px; width: 189px; height: 3px; clip: rect(1px, 188px, 2px, 1px); display: block;" src="https://html.scribdassets.com/qg32opikg78y549/images/1-3dc72075b2.jpg">
</div>
</div>
</div>